---
import experiences from "../../collections/experiences.json";
import AboutExperience from "../about-experience.astro";
---

<section class="max-w-4xl mx-auto px-7 lg:px-0">
  <h2
    class="text-2xl font-bold leading-10 tracking-tight text-neutral-900 dark:text-neutral-100"
  >
    Experience
  </h2>
  <p class="mb-6 text-base text-neutral-600 dark:text-neutral-400">
    I've over 6 years of experience working with several early-stage startups,
    building products from scratch as well as scaling high-traffic backend
    services to millions of users. I've worked in android, backend, data
    engineering and MLOps roles in the past. In 2024, I left my industrial
    career and moved to an academic research lab.

    <br /><br />Currently, I'm working as part of the research team at <a
      href={"https://dream-lab.in/"}
      class="relative items-center justify-center w-full font-medium tracking-wide text-center duration-200 ease-out sm:py-0 sm:mb-0 md:w-auto hover:text-neutral-900 dark:hover:text-white"
      >DREAM Lab</a
    > in Indian Institute of Science (IISc), Bangalore. Here, I've had the opportunity
    to bridge the gap between research and real-world applications, delving into
    cutting-edge research around unmanned aerial vehicles and Function-as-a-service
    (FaaS) platforms.
  </p>

  <div class="px-5 py-5">
    {
      experiences.map((experience) => {
        return (
          <div class="pb-10 border-l border-gray-200 last:border-l-0 dark:border-neutral-700">
            <AboutExperience
              dates={experience.dates}
              role={experience.role}
              company={experience.company}
              description={experience.description}
              logo={experience.logo}
            />
          </div>
        );
      })
    }
  </div>
</section>
